/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


.flash{
  text-align: center;
}

/*- - - - - navbar*/

/*.navbar-wagon {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.navbar-wagon-right{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 2.5rem;

}

.navbar-wagon-item{
  display:inline;
  margin: 5px;
}

.avatar {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.navbar-logo {
  height: 4rem;
  width: 4rem;
}*/

